@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Slabo+27px&family=Zeyada&display=swap');

.body {
     background-image: url("https://fastly.picsum.photos/id/43/1280/831.jpg?hmac=glK-rQ0ppFClW-lvjk9FqEWKog07XkOxJf6Xg_cU9LI");
}

body {
    background-color: #FDF4CD;
}

.header {
    text-align: center;
    color: #FCEFB4;
    font-size: 35px;
    font-family: "Dancing Script";
}

hr {
    height: 5px;
    background-color: #c8d8ed;
}

.nav {
    display: flex;
    flex-direction: column;;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 23px;
    font-family: "Zeyada", cursive;
}

.nav #officers {
    background-color: #FFEA9D;
    margin-bottom: 5px;
    border: 2px solid #F9DC5C;
    border-radius: 5px;
    color: #E1AD01;
    text-align: center;
}

#officers:hover {
    background-color: #f6dd82;
    color: #cd9d01;
    border: 2px solid #dbc046;
    font-size: 30px;
    transition: 1s;
}

.header2 {
    color: #C78C06;
    font-size: 25px;
    font-family: "Dancing Script";
    text-align: center;
}

.header2 p {
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Slabo 27px", serif;
}

.about {
    display: flex;
    flex-direction: row;
    font-family: "Oswald", sans-serif;
}

.about h2 {
    font-size: 20px;
}

.about p {
    font-family: "Oswald", sans-serif;

}

.nav #shows {
    background-color: #FFEA9D;
    margin-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: 2px solid #F9DC5C;
    border-radius: 5px;
    color: #E1AD01;
    text-align: center;
}

#shows:hover {
    background-color: #f6dd82;
    color: #cd9d01;
    border: 2px solid #dbc046;
    font-size: 30px;
    transition: 1s;
}

.header3 {
    color: #C78C06;
    font-size: 25px;
    text-align: center;
    font-family: "Dancing Script";
}

.nav #home {
    background-color: #FFEA9D;
    margin-bottom: 5px;
    border: 2px solid #F9DC5C;
    border-radius: 5px;
    color: #E1AD01;
    text-align: center;
}

#home:hover {
    background-color: #f6dd82;
    color: #cd9d01;
    border: 2px solid #dbc046;
    font-size: 30px;
    transition: 1s; 
}

.shows {
    text-align: left;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}

.ourshows {
    text-align: left;
    font-size: 20px;
    font-family: "Slabo 27px", serif;
}

.ourshows p {
    display: flex;
    flex-direction: column;
     
}
.iwct {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.atfss {
    display: flex;
    flex-direction: row;
    justify-content: left;
}