.body {
     background-image: url("https://fastly.picsum.photos/id/43/1280/831.jpg?hmac=glK-rQ0ppFClW-lvjk9FqEWKog07XkOxJf6Xg_cU9LI");
}

body {
    background-color: #FDF4CD;
}

.header {
    text-align: center;
    color: #FCEFB4;

}

.nav {
    display: flex;
    flex-direction: column;;
    position: absolute;
    top: 0px;
    left: 0px;
}

.nav #officers {
    background-color: #FFEA9D;
    padding: 5px;
    margin-bottom:5px;
    border: 2px solid #F9DC5C;
    border-radius: 5px;
    color: #E1AD01;
    text-align: center;
}

.header2 {
    color: #C78C06;
    text-align: center;
}

.nav #shows {
    background-color: #FFEA9D;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #F9DC5C;
    border-radius: 5px;
    color: #E1AD01;
    text-align: center;
}

.header3 {
    color: #C78C06;
    text-align: center;
}

.nav #home {
    background-color: #FFEA9D;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #F9DC5C;
    border-radius: 5px;
    color: #E1AD01;
    text-align: center;
}